body 
{ background-repeat: no-repeat;
background-size: contain;
}

.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 265px;
  width: 530px;
  height: 400px;
  
  box-sizing: border-box;
  box-shadow: inset -11px -11px 0px 0px rgb(183 189 181 / 6%);
  background-color: white;
  padding: 10px;
}

.views, .month,
.list,  {order: 0;
		width: 50%;}
.price,  {order: 1}
.header, .billings, .list_button {display: flex}

.switch {
  order: 1;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
  margin-right: 20px;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.d {
  order: 3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
  height: fit-content;
  padding: 2px;
  padding-top: 1px;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;                             
  
}

.year {
	order: 2;
	margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
    
}

#cowbell {
	width: -webkit-fill-available;
	margin-top: 30px;
}

.price {
	padding-left: 40px;
    font-size: xx-large;
    margin-left: 150px;

}
.views {
	font-size: larger;
	margin-bottom: auto;
    margin-top: auto;
}
.header {
	margin-top: 30px;			
}
.month {
	margin-top: auto;
    margin-bottom: auto;
    width: 120px;
}
.billings {
	padding-left: 70px;
	margin-top: 50px;
}
.line {
	border: 1px solid #e4e4ca61;
	margin-top: 40px;
}

.list {

}
.button {order:1;
		margin: auto;}